<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TrackBitcoin.Cash</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<meta name="description" content="TrackBitcoin.Cash allows you to track your Bitcoin Cash addresses. Add any address that holds Bitcoin Cash: Legacy, CashAddr, SLP (simpleledger). Add as many addresses as you want. Your addresses are stored in your browser's cookies so they'll be there when you want to check them.">
		<meta name="keywords" content="Bitcoin Cash, dApp, Node.js, express, session, cookies, Bitcoin, BCH, Bitcoin Cash address tracker, address tracker, crypto, cryptocurrency, javascript, node, bitbox">
		<meta name="robots" content="index, follow" />
		<meta property="og:image" content="https://www.bitcoincash.org/media-kit/3-bitcoin-cash-logo-ot-medium.png">
		<meta property="og:url" content="http://trackbitcoin.cash">
		<link rel="shortcut icon" href="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_64,w_64,q_auto/892386/12-bitcoin-cash-square-crop-full_dop5ob.png">


	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="#tracked">Track</a>Bitcoin.Cash</h1>

					<nav id="nav">
						<ul>
							<!-- <li><a href="index.html">Home</a></li> -->
							<li>
							
						<!--		<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul> -->
							</li>
							<li><a href="http://keepbitcoin.cash" target="_blank" class="button">KeepBitcoin.Cash</a></li>
							<li class="sour" style="display:none;"><a href="http://sourtoken.cash" class="icon solid fa-angle-down">SOURtoken.cash</a> </li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">


						<h2 style="font-size:3.5em"><b> <span style="color:black">Track</span></b><span style="background-color:#F59332;">Bitcoin.Cash</span></h2>

					<!--
					<ul class="actions special">
						<li><a href="#" class="button primary">Sign Up</a></li>
						<li></li>
					</ul> -->
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
						<!--	<h2>Enter a Bitcoin Cash Address:</h2> -->

						<h2 style="color:black"><span title="Any address that holds BCH will work.">Enter an address to begin tracking the balance.</span></h2>
							<p style="text-align:center;">
								<form name="addressForm" action="/" method="post">
									<center>
								<% if (errorAddress) { %>
									 <span style="background-color: #FFFF00"> <%= errorAddress.error %> </span>
									 <span style="background-color: #FFFF00"> <%= errorAddress %> </span>
								<% } %>
									<input class="address" name="address" type="text" placeholder="Enter your BCH address, ex: bitcoincash:qp7l6ns2g…" required >
									<!--	<br /><div id="h-captcha" class="h-captcha" name="h-captcha" data-sitekey="470db508-f8f9-4bb7-a4c3-942b295faeb4"></div> -->

									 <br />
									<input name="submit" type="submit" placeholder="Submit" />

								</center>

								</form>
								<!--  <button type="submit" id="addr">  </button>  -->
								</p>
							<!-- <h3> - Tracked Addresses - </h3> -->

							<style>
							table, th, td {
							  padding: 5px;
						
							border-collapse: collapse;
							  border: solid black;
							  font-size:14pt;
							  color:black;
							  text-align: left;
							}
							th {
							background-color: #F59332;
							color:black;
														  padding: 0 0 0 0;
							}
							td {
								
							}
							</style>
							<a name="tracked"><br /></a><br />

							  <% if(addressArray != null) { %>
					
								<button style="float:right;" class="btn" onClick="window.location.reload();">Refresh</button>
								<a href="/clearcookies"><button style="float:left;" class="btn" >Clear</button></a>
							 <br />
							 


							<h2 style="color:black;">- Tracked BCH Addresses - </h2>
							<center>
						<div class="address-table">
							<table class="addresses">
							  <tr>
							    <th><b>Address</b></th>
							    <th><b>Balance</b></th>
							  </tr>

							  

								
            					<% addressArray.forEach(function(addr){ %>
							  <tr>
							  	<td><span title="Balance: <%= addr.bch %> BCH, usd: $<%= addr.usd %>, total recieved: <%= addr.totalRec %> BCH, unconfBal: <%= addr.unconfBal %> BCH, unconfBalUsd: $<%= addr.unconfBalUsd %> "> <%= addr.cashAddr %> </span></td>
							  	<td><span title="Total balance"> <%= addr.bch %> BCH, $<%= addr.usd %> <br /> 
							  		<% if (addr.unconfBalUsd !== '0.00'){ %>
							  		<!-- <%= addr.unconfBal %> -->
							  		($<%= addr.unconfBalUsd %> unconfirmed)</span></td>
							  		<% } %>
							  </tr>
<!-- future shit 
							  <div class="addr-info">
							    address: <%= addr.cashAddr %>, <br />
							    bch: <%= addr.bch %> BCH, <br />
							    usd: $<%= addr.usd %>, <br />
							    total recieved: <%= addr.totalRec %>, <br />
							    total recieved usd: <%= addr.totalRecUsd %>, <br />
							    unconfBal: <%= addr.unconfBal %> BCH, <br />
							    unconfBalUsd: <%= addr.unconfBalUsd %> <br />
							  </div>
					-->
							  <% }) } %>

							</table>

						
						</div></center>
							<p id="trackedAddresses">


							</p>


						</header>
					<!--	<span class="image featured"><img src="img/pic01.jpg" alt="" /></span> -->
					</section>

						<!--
				<section id="main2" class="container">
					<section class="box special">
						<header class="major">
						</header>
						<span class="image featured"><img src="img/pic01.jpg" alt="" /></span>
					</section>
					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon solid major fa-bolt accent2"></span>
								<h3>Magna etiam</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon solid major fa-chart-area accent3"></span>
								<h3>Ipsum dolor</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon solid major fa-cloud accent4"></span>
								<h3>Sed feugiat</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon solid major fa-lock accent5"></span>
								<h3>Enim phasellus</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section>
					<div class="row">
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Sed lorem adipiscing</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
						<div class="col-6 col-12-narrower">
							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Accumsan integer</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions special">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>
						</div>
					</div>
				</section>
					-->

			<!-- CTA -->
				<section id="cta">
					<div class="cta">
					<h2 style="color:white;">Sign up for beta access</h2>
					<p style="color:black">We're still figuring all this shit out so add your email and we'll let you know about new apps, airdrops, or opportunities!

					<form action="/email" method="POST">
						<div class="row gtr-50 gtr-uniform">
							<div class="col-8 col-12-mobilep" >
								<% if (errorEmail) { %>
									 <%= errorEmail %>
								<% } %>
								<input type="email" name="email" id="email" placeholder="Email Address" required />
							</div>
							<div class="col-4 col-12-mobilep">
								<input type="submit" value="Sign Up" class="fit" style="color:black;"/>
							</div>

						</div>
					</form>
				</div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<!--
					<ul class="icons">
						<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
				-->



					<ul class="copyright">
						<center>
						<li><b>Powered by</b><br />

<a href="https://keepbitcoinfree.org/SOUR" target="_blank">
							<img src="https://keepbitcoinfree.org/wp-content/uploads/SOUR-long-2000-1.png" alt="" height="200" width="460" > </a>

<div class="sidenav" style="margin:0;">
        <ul id="sm-links" class="nav justify-content-center" style="list-style: none;margin:0">
           <li class="nav-item" style="padding-right:15px; margin:0;display:inline;">
            <a href="https://memo.cash/token/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0?for-sale" target="_blank" rel="noopener noreferrer"><img src="https://keepbitcoinfree.org/wp-content/uploads/memo.png" height="30px" width="30px" alt="Memo"></a>
          </li>
          <li class="nav-item" style="margin:0;display:inline;padding-right:15px;">
            <a href="https://twitter.com/sourtoken" target="_blank" rel="noopener noreferrer"><img src="https://keepbitcoinfree.org/wp-content/uploads/twitter-logo.png" alt="Twitter" height="30px" width="30px"></a>
          </li>
        <li class="nav-item" style="margin:0;display:inline;padding-right:15px;">
  <a href="https://reddit.com/u/keepbitcoinfree_org" target="_blank" rel="noopener noreferrer"><img src="https://keepbitcoinfree.org/wp-content/uploads/reddit-logo.png" height="30px" width="30px" alt="Reddit"></a>
  </li>
  <li class="nav-item" style="margin:0;display:inline;padding-right:15px;">
            <a href="https://t.me/sourtoken"><img src="https://keepbitcoinfree.org/wp-content/uploads/telegram.png" height="30px" width="30px" alt="Telegram"></a>
          </li>
   </ul>
</div>


						<!--	<a href="https://keepbitcoinfree.org/SOUR" target="_blank"> <img src="https://tokens.bch.sx/128/6448381f9649ecacd8c30189cfbfee71a91b6b9738ea494fe33f8b8b51cbfca0.png" /></a></li> -->
					</center>
					<br />
						<li>&copy; 2020 Track<b>Bitcoin.Cash</b> | <a href="https://keepbitcoinfree.org" target="_blank">KeepBitcoinFree.org, All rights reserved.</li>
						<br />
						<li> <a href="https://github.com/KeepBitcoinFree-org/trackbitcoin.cash" target="_blank">Open source code avail on Github.</a></li>
						<li style="font-size:7pt;">Template Design by <a href="http://html5up.net">HTML5 UP</a></li>
<br />
						<li>Built with <span style="font-size:16pt"><a href="https://github.com/Bitcoin-com/bitbox-sdk" target="_blank">BITBOX SDK</a></span>
<br />
						<li style="font-size:7pt;"> * This site uses cookies. By continuing, you agree that's alright man and we aren't liable for anything. <br />We won't use your data except to show you the addresses you've entered into our app. </li>
				<br />

					</ul>

					<br /><br />
					<!-- <h4 style="font-size:12pt">If you're feeling generous, donations are humbly accepted and will help us to build more applications!</h4> -->
				<center>
					<hr width="70%" />
				</center>
			<div class="donation-wrapper" style="width:100%;overflow:hidden;">
					<div class="donation-bch-left" style="float:left;width:45%;padding:10px;">
						<b>Bitcoin Cash BCH Donation Address</b>
						<img class="alignnone size-medium wp-image-269" src="https://keepbitcoinfree.org/wp-content/uploads/bch-kbf-donation-address.png" alt="" width="200" height="200" /><br />
						<a href="bitcoincash:qrk7e69cj7m76rymhgm9x93kd9y2d5wn8uhdtfcgh6"><button type="button"> Open in Wallet </button></a></center>
						bitcoincash:qrk7e69cj7m76rymhgm9x93kd9y2d5wn8uhdtfcgh6
					</div>
				
					<div class="donation-slp-right" style="width:45%;float:right;padding:10px">
						<b>SLP Token Donation Address</b><br />
						<img class="alignnone size-medium wp-image-234" src="https://keepbitcoinfree.org/wp-content/uploads/2019/10/KBF-SLP-Donation-QR.png" alt="" width="200" height="200" /><br />
						<a href="simpleledger:qzqc0sp69vw8lcsrw0079hgyujgsct2h2gq2tzuung">
						<button type="button">Open in SLP Wallet</button></a><br />
						<div style="width: 280px;">simpleledger:qzqc0sp69vw8lcsrw0079hgyujgsct2h2gq2tzuung</div>
					</div>
						
			</div>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
		<!--	<script src="js/h-cap.js"></script> -->
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
			<script src="https://hcaptcha.com/1/api.js" async defer></script>
			<script type="javascript/text">


			</script>
	</body>
</html>